{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid" style="text-align: center;">
    <div id="error" style="width:300px; margin: auto"></div>
    <p class="h1">Нет такого :(</p>
</div>
<script src="{% static 'lottie.js' %}"></script>
<script type="text/javascript">
    var animation = bodymovin.loadAnimation({
        container: document.getElementById('error'),
        renderer: 'svg',
        loop: true,
        autoplay: true,
        path: '{% static "animations/404.json" %}'
    })
</script>
{% endblock %}