{% extends 'base.html' %}
{% load static %}
{% block title %}На странных берегах{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'anim-styles/fade.css' %}">

<div class="container">
    <div id="wrong" style="display: none">
        <div id="fail" style="width: 300px; margin: 0 auto"></div>
    </div>
    <div id="result" style="display:none; text-align: center">
        <div id="success" style="width: 300px; margin: 0 auto;"></div>
    </div>
    <div id="problem" class="mt-3 fade" style="">
        <div class="card" id="preamble">
            <h5 class="card-header">
                Задание:
            </h5>
            <div class="card-body">
                <p class="card-text">
                    Замечательная работа, Фасолинка!
                    <br>
                    Твоими стараниями, мы смогли получить зацепку к тому, где их тайник, в котором они прячут свои
                    богатства.
                    <br>
                    Но мы не понимаем как этим воспользоваться, а у нас очень мало времени и тебе срочно нужно получить
                    название организации, связанной с этими цифрами.
                    <br>
                    Как только ты получишь название, наша опергруппа выдвинется и вскроет его.
                </p>
            </div>
        </div>
        <div class="card mt-3">
            <div class="card-body">
                <p class="card-text">
                    4.505 7.72023565-10467
                </p>
            </div>
        </div>
        <div class="mt-3">
            <form id="answer-form">
                {% csrf_token %}
                <input class="form-control" name="answer" placeholder="Адрес">
                <button type="submit" class="btn btn-info btn-block mt-3">
                    Проверить
                </button>
            </form>
        </div>
        <div class="card mt-3">
            <h5 class="card-header">
                Данные от коллег:
            </h5>
            <div class="card-body">
                <p class="card-text">
                    Наши сотрудники уверены, что эти цифры зашифрованы чем-то похожим на рельсы
                </p>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'lottie.js' %}"></script>
<script type="text/javascript">
    var fail = bodymovin.loadAnimation({
        container: document.getElementById('fail'),
        renderer: 'svg',
        loop: true,
        autoplay: true,
        path: '{% static "animations/hmm.json" %}'
    })
    var success = bodymovin.loadAnimation({
        container: document.getElementById('success'),
        renderer: 'svg',
        loop: true,
        autoplay: true,
        path: '{% static "animations/money.json" %}'
    })
</script>

<script>
    $("#answer-form").submit(function (e) {
        e.preventDefault();
        var serializedData = $(this).serialize();
        $.ajax({
            type: 'POST',
            url: "{% url 'three' %}",
            data: serializedData,
            success: function (response) {
                $("#wrong").css('display', 'none');
                $("#answer-form").trigger('reset');
                //
                $("#result").css('display', 'block');
                $("#result").addClass("fade");
                //
                $("#result").append(response["text"]);
                $("#result").append(response["button"]);
            },
            error: function (response) {
                $("#result").css('display', 'none');
                $("#wrong").css('display', 'block');
                $("#wrong").addClass("fade");
            }
        })
    })
</script>

{% endblock %}